:root {
  --main-text-color: #040511;
  --main-background-color: #015af2;
  --secondary-color: #ffffff;
  --hover: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-transition: box-shadow 250ms linear;
  --scale-transition: scale 250ms linear;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  background-color: F7F7F7;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

a {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  background-image: url("../images/footer-background.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
@media screen and (min-width: 1060px) {
  .container {
    padding-left: 135px;
    padding-right: 135px;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.button {
  padding: 16px 30px;
  border-radius: 13px;
  border: transparent;
  min-width: 220px;
  font-size: 20px;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: var(--shadow-transition);
  transition: var(--shadow-transition);
}

.button:hover {
  -webkit-box-shadow: var(--hover);
          box-shadow: var(--hover);
}

.main-button {
  background-color: var(--main-background-color);
  color: var(--secondary-color);
}

.section-title {
  font-weight: 600;
  font-size: 30px;
  color: var(--main-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1060px) {
  .section-title {
    font-size: 50px;
  }
}
@media screen and (min-width: 1250px) {
  .section-title {
    font-size: 95px;
  }
}

.section-icon {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.platform-text {
  color: var(--main-text-color);
}
@media screen and (max-width: 1060px) {
  .platform-text {
    font-size: 20px;
  }
}

.platform-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 70px;
}

.platform-section {
  margin-bottom: 145px;
  text-align: center;
}

.platform-list-icon {
  -webkit-transition: var(--scale-transition);
  transition: var(--scale-transition);
}

.platform-list-icon:hover {
  scale: 1.1;
}

.bank-section {
  margin-bottom: 140px;
}

.bank-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.bank-item {
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px 0px 63px #bfcadc;
          box-shadow: 0px 0px 63px #bfcadc;
  border-radius: 24px;
  width: 340px;
  height: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--shadow-transition);
  transition: var(--shadow-transition);
}

.bank-item:hover {
  -webkit-box-shadow: var(--hover);
          box-shadow: var(--hover);
}

.bank-item-link {
  padding: 55px 20px;
}

.footer {
  padding-bottom: 60px;
}

.footer-info {
  margin-bottom: 50px;
}
@media screen and (min-width: 1060px) {
  .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 108px;
  }
}

.footer-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 1060px) {
  .footer-info-item {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1060px) {
  .footer-info-item {
    text-align: left;
    width: 480px;
  }
}
@media screen and (min-width: 1250px) {
  .footer-info-item {
    width: 545px;
  }
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-info-item-text {
  margin-bottom: 60px;
}

.button-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-info-secondary-item {
  color: var(--secondary-color);
}
@media screen and (min-width: 1060px) {
  .footer-info-secondary-item {
    width: 300px;
    text-align: left;
  }
}
@media screen and (min-width: 1250px) {
  .footer-info-secondary-item {
    width: 435px;
  }
}

.secondary-item-list {
  margin-bottom: 80px;
}

.footer-third-item {
  color: var(--secondary-color);
  font-size: 17px;
}
@media screen and (min-width: 1060px) {
  .footer-third-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}
@media screen and (max-width: 500px) {
  .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 1060px) {
  .footer-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}

.footer-nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
  position: relative;
  -webkit-transition: var(--scale-transition);
  transition: var(--scale-transition);
}
@media screen and (max-width: 500px) {
  .footer-nav-link {
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts-link {
  -webkit-transition: var(--scale-transition);
  transition: var(--scale-transition);
}

.footer-nav-link:hover, .contacts-link:hover {
  scale: 1.1;
}

.footer-nav-link::after {
  position: absolute;
  display: block;
  bottom: -2px;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--secondary-color);
}

.chevron-img {
  height: 9px;
}

.secondary-button {
  background-color: var(--secondary-color);
}/*# sourceMappingURL=index.css.map */