.footer {
  padding-bottom: 60px;
}
.footer-info {
  margin-bottom: 50px;
  @media screen and (min-width: 1060px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 108px;
  }
}
.footer-info-item {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 1060px) {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  @media screen and (min-width: 1060px) {
    text-align: left;
    width: 480px;
  }
  @media screen and (min-width: 1250px) {
    width: 545px;
  }
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-info-item-text {
  margin-bottom: 60px;
}
.button-set {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.footer-info-secondary-item {
  color: var(--secondary-color);
  @media screen and (min-width: 1060px) {
    width: 300px;
    text-align: left;
  }
  @media screen and (min-width: 1250px) {
    width: 435px;
  }
}
.secondary-item-list {
  margin-bottom: 80px;
}
.footer-third-item {
  color: var(--secondary-color);
  font-size: 17px;
  @media screen and (min-width: 1060px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.footer-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
  @media screen and (max-width: 1060px) {
    justify-content: center;
    margin-bottom: 20px;
  }
}
.footer-nav-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  position: relative;
  transition: var(--scale-transition);
  @media screen and (max-width: 500px) {
    margin-left: auto;
    margin-right: auto;
  }
}
.contacts-link {
  transition: var(--scale-transition);
}
.footer-nav-link:hover, .contacts-link:hover {
  scale: 1.1;
}
.footer-nav-link::after {
  position: absolute;
  display: block;
  bottom: -2px;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--secondary-color);
}
.chevron-img {
  height: 9px;
}
.secondary-button {
  background-color: var(--secondary-color);
}
